@using WebApplication1.Models;

<h1>StevieSimVillage™</h1>

<h3 style="background:yellow; padding:3px">@ViewBag.Message</h3>

<div class="row">
    <div class="col-sm-1">Day:</div>
    <div class="col-sm-1"><span>@ViewBag.CurrentState.Day</span></div>
    <div class="col-sm-10">
        @if (ViewBag.CurrentState.ActionsLeft == 0 && ViewBag.CurrentState.Villagers > 0)
        {
            <form action="NextDay" method="post">
                <input type="submit" value="Next Day" />
            </form>
        }
        else if (ViewBag.CurrentState.ActionsLeft == 0 && ViewBag.CurrentState.Villagers == 0)
        {
            <p>Play again?</p>
        }
        else
        {
            <p>Complete the required actions to finish the day.</p>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-1">Actions Left</div>
    <div class="col-sm-1">@ViewBag.CurrentState.ActionsLeft of @ViewBag.CurrentState.ActionsTotal</div>
    <div class="col-sm-10"></div>
</div>

<div class="row">
    <div class="col-sm-1">Villagers</div>
    <div class="col-sm-1">@ViewBag.CurrentState.Villagers</div>
    <div class="col-sm-10">(Each villager provides 1 action and consumes 1 food and 1 water per day)</div>
</div>

<div class="row">
    <div class="col-sm-1">Houses</div>
    <div class="col-sm-1">@ViewBag.CurrentState.Villagers</div>
    <div class="col-sm-10">
        @if (ViewBag.CurrentState.Wood >= 5 && ViewBag.CurrentState.ActionsLeft > 0)
        {
            <form action="BuildHouse" method="post">
                <input type="submit" value="Build (Uses 5 Woods)" />
            </form>
        }
        else if (ViewBag.CurrentState.ActionsLeft == 0)
        {
            <p>The day is done.</p>
        }
        else
        {
            <p>You don't have enough wood to build a house.</p>
        }
    </div>
</div>

<div class="row">
    <div class="col-sm-1">Wells</div>
    <div class="col-sm-1">@ViewBag.CurrentState.Wells</div>
    <div class="col-sm-10">
        @if (ViewBag.CurrentState.Wood >= 6 && ViewBag.CurrentState.ActionsLeft > 0)
        {
            <form action="BuildWell" method="post">
                <input type="submit" value="Build (Uses 6 Woods)" />
            </form>
        }
        else if (ViewBag.CurrentState.ActionsLeft == 0)
        {
            <p>The day is done.</p>
        }
        else
        {
            <p>You don't have enough wood to build a well.</p>
        }
    </div>
</div>

<div class="row">
    <div class="col-sm-1">Food</div>
    <div class="col-sm-1">@ViewBag.CurrentState.Food</div>
    <div class="col-sm-10">
        @if (ViewBag.CurrentState.Villagers > 0 && ViewBag.CurrentState.ActionsLeft > 0)
        {
        
                <form action="GatherFood" method="post"> <input type="submit" value="Gather Food (0-4 Units)" /> </form>
        
                
        }
        else if (ViewBag.CurrentState.Villagers == 0)
        {
            <p>You don't have any villagers left to peform this task.</p>
        }
        else
        {
            <p>The day is done.</p>
        }

    </div>
</div>

<div class="row">
    <div class="col-sm-1">Water</div>
    <div class="col-sm-1">@ViewBag.CurrentState.Water</div>
    <div class="col-sm-10">
        @if (ViewBag.CurrentState.Villagers > 0 && ViewBag.CurrentState.ActionsLeft > 0)
        {
            <form action="GatherWater" method="post">
                <input type="submit" value="Gather Water (1-5 Units)" />
            </form>
        }
        else if (ViewBag.CurrentState.Villagers == 0)
        {
            <p>You don't have any villagers left to peform this task.</p>
        }
        else
        {
            <p>The day is done.</p>
        }

    </div>
</div>

<div class="row">
    <div class="col-sm-1">Wood</div>
    <div class="col-sm-1">@ViewBag.CurrentState.Wood</div>
    <div class="col-sm-10">
        @if (ViewBag.CurrentState.Villagers > 0 && ViewBag.CurrentState.ActionsLeft > 0)
        {
            <form action="GatherWood" method="post">
                <input type="submit" value="Gather Wood (1-5 Units)" />
            </form>
        }
        else if (ViewBag.CurrentState.Villagers == 0)
        {
            <p>You don't have any villagers left to peform this task.</p>
        }
        else
        {
            <p>The day is done.</p>
        }

    </div>
</div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        @if (ViewBag.CurrentState.Villagers == 0)
        {
            <form action="Restart" method="post">
                <input type="submit" value="Play Again" />
            </form>
        }
       

    </div>
</div>









